<h1>Angular 18 Essentials</h1>

<h2>Rendering Dynamic Templates</h2>

<h3>1. Data</h3>

<strong>Whenever the data changes (in this case, with a function that sets another value), Angular will automatically
    update
    the DOM reflecting the new value (without making any new request).</strong>

<p>{{title}}</p>

<button (click)="updateTitle()">Update title</button>

<hr>

<h3>2. Properties</h3>

<strong>Dynamically set the value of standard DOM properties on an HTML element:</strong>

<p>button type="submit" [disabled]="formIsInvalid" (formIsInvalid will be a property in the component)</p>

<hr>

<h3>3. Attributes</h3>

<strong>Square brackets will not work because CUSTOM HTML attributes are not standard DOM properties. We need to prepend
    with the attr. </strong>

<p>button [attr.data-test-id]="testId"</p>