<h1>Angular 18 Essentials</h1>

<h2>Images</h2>

<style>
    .container {
        display: flex;
        gap: 20px;
    }

    .inline {
        border: 1px solid red;
    }

    .image-container {
        width: 800px;
        height: 600px;
        border: 1px solid gray;
        position: relative;
    }
</style>

<div class="container">
    <div>
        <h3>Image with meaning -> HTML image (img tag)</h3>
        <img class="inline" ngSrc="assets/angular.png" width="800" height="600" alt="" priority>
    </div>

    <div>
        <h3>Decorative image -> CSS image (background-image)</h3>
        <div class="image-container">
            <img ngSrc="assets/photo.jpg" fill alt="">
        </div>
    </div>

</div>